*{
  text-decoration: none;
  color: inherit;
  font-family: Assistant, sans-serif !important;
}
body{
  background: #FFF;

}

.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 50px;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 1000;
}

.whatsapp img {
  width: 60px;
  height: 60px;
    transition: transform 0.3s ease;
}
.whatsapp:hover img {
transform: translateY(-10px);
}
@media (max-width: 768px) {
  .whatsapp img {
  width: 40px;
  height: 40px;
    transition: transform 0.3s ease;
}
}